@charset "UTF-8";
html,body,header,footer,div,table,a,img,ul,li,ol,h1,dl,dd{
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  font-family: "Times New Roman",'宋体';
  line-height: 20px;
  color: #333;
}
ul,li,ol,h1,dl,dd {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover{
  color: #4c94de;
  text-decoration: none;
}
img{
  border:0px;
}
#main{
  width:960px;
  margin:0px auto;
  clear:both;
  float:none;
}

